main.aux
main.log
main.dvi
main.toc
main.bbl
main.brf
main.blg
main.out
Chapters/chap1/chap1.aux
Chapters/chap2/chap2.aux
Chapters/chap3/chap3.aux
Chapters/chap4/chap4.aux
Chapters/chap5/chap5.aux
Chapters/chap6/chap6.aux
Chapters/chap7/chap7.aux
CChapters/chap1/chap1.tex.backup
Chapters/chap2/chap2.tex.backup
Chapters/chap3/chap3.tex.backup
Chapters/chap4/chap4.tex.backup
Chapters/chap5/chap5.tex.backup
Chapters/chap6/chap6.tex.backup
Chapters/chap7/chap7.tex.backup
main.out
main.brf
main.toc
main.pdf
diagrams/*
